body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    text-align: left;
}

.header h1 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-item {
    font-size: 1.1em;
    color: #555;
    display: flex;
    align-items: center;
}

.info-item i {
    color: #0066CC;
    margin-right: 8px;
}

.highlight {
    color: #0066CC;
}

.description {
    margin: 20px 0;
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.important-info h2 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.important-info ul {
    list-style-type: none;
    padding-left: 0;
}

.important-info li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
    display: flex;
    align-items: center;
}

.important-info li i {
    color: #28a745;
    margin-right: 10px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    animation: fadeInUp 1s ease-in-out;
}
