<!DOCTYPE html>
<html>
<head>
  <title>Hotel Room</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>

  <div class="container">
    <div class="image-container">
      <img src="du_thuyen_paradise_elegance.jpeg" alt="Ho Chi Minh City">
    </div>
    <div class="info-container">
      <h2 class="room-title">Cabin Standard</h2>
      <ul class="room-details">
        <li><i class="fas fa-bed"></i> Bed: kingbed</li>
        <li><i class="fas fa-expand-alt"></i> Kích thước cabin: 35 m<sup>2</sup></li>
        <li><i class="fas fa-users"></i> Tối đa (người lớn): 2</li>
      </ul>
      <a href="#" class="show-more-button">Hiển thị thêm</a>
      <div class="price-container">
        <span class="price">4.000.000 đ</span>
        <button class="choose-button">CHỌN</button>
      </div>
      <p class="price-description">*Giá dành cho 1 cabin 2 Người lớn 0 Trẻ em</p>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>