body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.nav-container {
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 20px 0;
}

.nav-bar {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 16px;
}

.nav-item {
    padding: 0 15px;
    color: #333;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-item::after {
    content: "\2022";
    color: #1A73E8;
    margin: 0 10px;
    font-size: 20px;
}

.nav-item:last-child::after {
    content: '';
}

.nav-item:hover {
    color: #1A73E8;
}

.nav-item.active {
    color: black;
    font-weight: bold;
}

.nav-item.active::after {
    color: black;
}

.nav-item.active::before {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    background-color: #1A73E8;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
