/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.carousel-container {
  width: 80%;
  max-width: 1200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-content {
  display: flex;
  transition: transform 0.8s ease-in-out; /* Smooth sliding animation */
}

.slide {
  min-width: 100%; /* Full width of the carousel container */
  overflow: hidden;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  z-index: 10;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.nav-btn i {
  color: #007bff;
  font-size: 18px;
}
