body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    background-size: cover;
    background-position: center;
    color: white;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 14px;
    margin: 10px 0 20px 0;
}

.explore-btn {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.explore-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.card:nth-child(1) {
    background-image: url('img-1.png');
}

.card:nth-child(2) {
    background-image: url('img-2.png');
}

.card:nth-child(3) {
    background-image: url('img-1.png');
}

.card:hover {
    transform: scale(1.05);
}
