<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đánh giá của khách hàng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="testimonial-container">
        <h2>Đánh giá của khách hàng</h2>
        <div class="testimonial">
            <i class="fa fa-quote-left quote-icon"></i>
            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et neque elit augue porttitor turpis a. Viverra leo arcu ac egestas praesent. Ultrices urna, viverra posuere enim.</p>
            <div class="customer-info">
                <img src="img-1.png" alt="Customer Image" class="customer-image">
                <div>
                    <p class="customer-name">Esther Howard</p>
                    <p class="customer-location">Hồ Chí Minh</p>
                </div>
            </div>
            <i class="fa fa-quote-right quote-icon"></i>
        </div>
    </div>
</body>
</html>
