body {
    font-family: Arial, sans-serif;
    background-color: #e0f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    animation: fadeIn 1s ease-in-out;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #757575;
    text-decoration: none;
    font-size: 12px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #66c4a9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #57ab91;
}

.or {
    text-align: center;
    margin: 20px 0;
    color: #999999;
    position: relative;
}

.or:before, .or:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #cccccc;
}

.or:before {
    left: 0;
}

.or:after {
    right: 0;
}

.social-login {
    display: flex;
    justify-content: space-between;
}

.social-login button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-google {
    background-color: #db4437;
}

.register {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #007bff;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
