<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Page</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <div class="hotel-offer">
        <div class="hotel-image">
            <img src="du_thuyen_paradise_elegance.jpeg" alt="Hotel Image">
        </div>
        <div class="hotel-info">
            <h2 class="hotel-title">Cabin Standard</h2>
            <ul class="hotel-features">
                <li><i class="fas fa-bed"></i> Bed: kingbed</li>
                <li><i class="fas fa-expand"></i> Kích thức cabin: 35 m²</li>
                <li><i class="fas fa-door-open"></i> Tổi đá (người lớn): 2</li>
                <li><i class="fas fa-calendar-check"></i> Hiện thi thể thịm</li>
            </ul>
            <div class="hotel-price">4.000.000 đ</div>
            <button class="hotel-button">CHỌN</button>
            <p class="hotel-note">*Giá đã chỉ 1 cabin 2 Người lớn 0 Trẻ em</p>
        </div>
    </div>
</body>
</html>