body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.date-picker {
    margin-bottom: 20px;
    position: relative;
}

.date-picker label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.date-picker input {
    width: calc(100% - 40px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.date-picker i {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.date-picker small {
    display: block;
    margin-top: 5px;
    color: #777;
}

.people-counter .person-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.person-type label {
    font-weight: bold;
    flex-grow: 1;
}

.counter {
    display: flex;
    align-items: center;
}

.counter button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.counter button:hover {
    background-color: #e0e0e0;
}

.counter .count {
    margin: 0 10px;
    font-size: 16px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
}

.counter .plus:hover {
    color: green;
}

.counter .minus:hover {
    color: red;
}
